.sse__textarea {
  outline: none;
}
.sse__rect {
  stroke: #655be2;
  fill: transparent;
  cursor: move;
}
.sse__act {
  transform-box: fill-box;
  transform-origin: center;
  transition: transform 0.2s;
  cursor: pointer;
}
.sse__act circle {
  fill: #655be2;
}
.sse__act:hover {
  transform: scale(2);
}
.sse__act._rotate, .sse__act._scale {
  cursor: default;
}
.sse__icon {
  fill: #fff;
}
.sse__foreign {
  overflow: visible;
}
.sse__textarea {
  display: block;
  line-height: 1;
}
.sse__helper._text .sse__rect {
  fill: none;
}
.sse__bottom {
  transform: translateY(-40px) translate(50%, 100%);
}
.sse__act._insert:hover, .sse__act._insert-image:hover, .sse__act._insert-text:hover {
  transform: scale(1.1);
}
.sse__bottom-image, .sse__bottom-text {
  visibility: hidden;
  transition: transform 0.2s;
}
.sse__bottom:focus-within .sse__bottom-image {
  transform: translate(-30px, -65px);
  visibility: visible;
}
.sse__bottom:focus-within .sse__bottom-text {
  transform: translate(30px, -65px);
  visibility: visible;
}
